@import "vars";

.record {
  h1{
    border-bottom: 1px solid $gray;
    a{
      border: 1px solid $black;
      border-radius: 4px;
      &:active{
        background-color: $gray;
      }
    }
  }
  ul{
    background-color: $white;
    &.class li{
      border-bottom: 10px solid $mainBg;
    }
  }
  li{
    border-bottom: 1px solid $gray;
    &:last-child{
      border: 0;
    }
    &.invalid{
      color: $gray;
      span{
        color: $gray;
      }
      a{
        color: $black;
      }
    }
  }
  span{
    color: $deepGray;
  }
  .noClass{
    text-align: center;
    padding-top: 20vw;
    p{
      line-height: 1.5;
      color: $lightBlack;
    }
    a{
      display: inline-block;
      background-color: $red;
      padding: 4px 20px;
      color: $white;
      border-radius: 4px;
    }
  }
}