@import "vars";

.bookWhole {
  > .list {
    background-color: #fff;
    padding-left: 10px;
  }

  color: #666;

  input {
    border: 0;
    background: 0;
    outline: 0 !important;
    text-align: right;
    color: inherit;
  }
  input[type=datetime-local]:valid{
    visibility: visible;
    flex: 0;
    margin-left: auto;
    +i{
      display: none;
    }
  }
  input[type=datetime-local]:invalid{
    visibility: hidden;
  }
  i{
    opacity: .5;
  }
  label {
    border-bottom: 1px solid #eee;
    padding: 10px 10px 10px 0;
  }

  .submit {
    line-height: 2.5;
    font-size: 120%;
    border-radius: 4px;
    width: 80vw;
    text-align: center;
    background-color: #f32f00;
    color: white;
    margin: 20px auto;
  }
}