@import "vars";

.cardAndClass {
  .list{
    .img-box{
      width: 25vw;
      height: 25vw;
    }
  }
  .meau {
    padding-top: 30px;
    background-color: $white;
  }
  figure {
    font-size: 0;
    img{
      max-height: 25vw;
    }
  }
  input {
    width: 25vw;
    border-radius: 4px;
    outline: none;
    -webkit-appearance: button;
    border: 1px solid $gray;
    padding: 2px;
  }
  button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    background-color: $red;
    padding: 2px 8px;
    color: #fff;
    border-radius: 4px;
  }
  select {
    border: 0;
    background-color: transparent;
    outline: none;
  }
  .title {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: $white;
    border-bottom: 1px solid $lightGray;
  }
  a {
    line-height: 1.5;
    color: $lightBlack;
  }
  figure, a, .renqiwang, .filter {
    border-bottom: 4px solid $lightGray;
  }
  h2 {
    color: $red;
    font-size: 120%;
    font-weight: bold;
    &:before {
      content: '￥';
    }
  }
  h6 {
    text-align: center;
    padding: 20px 0;
    color: $lightBlack;
  }
  .renqiwang {
    overflow: hidden;
    > div {
      overflow-x: scroll;
      overflow-y: hidden;
    }
    .item {
      width: 46vw;
      height: 23vw;
      margin: 0 1%;
      position: relative;
      overflow: hidden;
      flex-shrink: 0;
    }
    img {
      border: 0;
    }
    p {
      position: absolute;
      background-color: rgba(0, 0, 0, .5);
      width: 100%;
      left: 0;
      bottom: 0;
      text-align: center;
      color: #fff;
      font-size: 12px;
    }
  }
  .ary {
    background-color: #fff;
    a {
      border: 0;
      border-bottom: 1px solid $lightGray;
    }
    .img-box {
      width: 20vw;
      height: 20vw;
    }
    dl {
      flex: 1;
      font-size: 12px;
    }
    dt {
      font-weight: bold;
    }
    p {
      background-color: $red;
      color: #fff;
      padding: 0 2px;
      border-radius: 4px;
      align-self: flex-start;
    }
  }

}

.condition {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  display: none;
  h1.act {
    color: $red;
    i:before {
      content: '\e603';
    }
  }
  .info {
    height: calc(100% - 70px);
    overflow: scroll;
  }
  dl {
    //display: none;
  }
  dd {
    color: #999;
  }
  p {
    width: 30%;
    margin: 1.5%;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #aaa;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &.act {
      background-color: $red;
      color: #fff;
      border-color: $red;
    }
  }
  input[type=number] {
    width: 30%;
    margin: 1.5%;
    padding: 6px 0;
    text-align: center;
  }
  .btm {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  h5 {
    flex: 1;
    text-align: center;
    font-size: 130%;
    background-color: #fff;
    &:nth-child(1) {
      box-shadow: 0 1px 1px 0px $gray inset;
    }
    &:nth-child(2) {
      color: #fff;
      background-color: $yellow;
    }
    &:nth-child(3) {
      color: #fff;
      background-color: $red;
    }

  }
}