@import "vars";

.christmas {
  background: #a50c25 url("../images/1.png");
  background-size: 50% auto;
  min-height: 100vh;
  padding-bottom: 50px;
  .none{
    display: none;
  }
  main {
    padding: 5vw;
  }
  h1 {
    text-align: center;
    color: white;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, .5);
    font-size: 115%;
  }
  h2 {
    color: white;
    text-align: center;
    background: url("../images/8.png") center top no-repeat;
    background-size: 100%;
    height: 8vw;
    line-height: 8vw;
  }
  h3 {
    background: url("../images/10.png") center top no-repeat;
    background-size: 100%;
    height: 8vw;
    line-height: 8vw;
    position: relative;
    img {
      width: 10vw;
      position: absolute;
      right: -2vw;
      top: -9vw;
    }
  }
  .tab {
    margin-top: 5vw;
    > div {
      padding: 5vw;
      background:  url("../images/9.png") center top repeat-y;
      background-size: 100% auto;
      color: #013f13;
    }
    table {
      table-layout: fixed;
      width: 100%;
      text-align: center;
    }
    th {
      background-color: #f2cccc;
    }
  }
  footer {
    height: 50px;
    padding: 10px;
    background-color: #005e1c;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    span {
      color: #005e1c;
      background-color: #fff;
      padding: 4px;
    }
    .time {
      margin-right: 10px;
    }
    &.wait {
      & > .go {
        background-color: #c2c2c2;
        pointer-events: none;
        &:after {
          content: "别着急,等待活动开始";
        }
      }
      i:after {
        content: "开始";
      }
    }

    &.over {
      > .time {
        display: none;
      }
      > .go {
        background-color: #c2c2c2;
        pointer-events: none;
        &:after {
          content: "活动已结束";
        }
      }
    }
    i:after {
      content: "结束";
    }
  }

  .go {
    background-color: #f32f00;
    flex: 1;
    text-align: center;
    border-radius: 1.5em;
    line-height: 2.5;
    &:after {
      content: "立即抢购";
    }
  }
  .tip {
    display: none;
    position: absolute;
    top: -2em;
    width: 100%;
    text-align: center;
    background-color: #ffae00;
  }
  aside, .toast {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, .5);
    overflow: scroll;
  }

  aside {
    transform: translate3d(0,100vh,0);
    transition: transform .2s ease-out;
    &.show{
      transform: translate3d(0,0,0);
    }
    a {
      background-color: #f32f00;
      border-radius: 1.5em;
      color: #fff;
      line-height: 2.5;
      &:before {
        content: "确定";
      }
    }
  }
  .mask-content {
    background-color: #fff;
    width: 100%;
    img {
      width: 60px;
      height: 60px
    }
    h4 {
      font-size: 110%;
      color: #f32f00;
      font-weight: bold;
    }
    h5 {
      color: #999;
    }
    .iconfont {
      margin-left: auto;
      font-size: 180%;
      line-height: 1
    }
  }
  dl {
    text-align: center;
  }
  dd {
    flex: 30% 0 0;
    margin: 0 1.665%;
    background-color: #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #fff;
  }
  .items .active {
    color: #f32f00;
    border-color: currentColor;
    background-color: #fdd5cc;
  }
  .nomore {
    opacity: .5;
    & + a {
      pointer-events: none;
      background-color: #999;
      &:before {
        content: "暂无库存";
      }
    }
  }
  .toast{
    z-index: 10;
    transition: all .3s ease-out;
    opacity: 0;
    transform: translate3d(0,-10px,0);
    &.show{
      opacity: 1;
      transform: translate3d(0,0px,0);
    }
  }
  .toast-inner{
    background-color: #fff;
    margin: auto;
    border-radius: .5em;
    text-align: center;
    >div{
      display: none;
      &.show{
        display: block;
      }
    }
    img{
      width: 110px;
    }
    p{
      font-weight: bold;
      font-size: 120%;
    }
    a{
      width: 80px;
      border-radius: 1em;
      border: 1px solid currentColor;
      color: #999;
    }
    a+a{
      margin-left: 10px;
      color: #f32f00;
    }
  }
}