@import "vars";

.confirmPage {
  background-color: #fff;
  padding-bottom: 40px !important;
  h1 {
    color: $red;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    align-items: flex-start;
  }
  li {
    border-bottom: 1px dashed $gray;
    padding: 10px 0;
    label{
      background-color: $lightBlack;
      padding: 4px 10px;
      border-radius: 4px;
      color: #fff;
    }
    input {
      display: none;
      &:checked+label{
        background-color: $red;
      }
    }
    select {
      -webkit-appearance: none;
      border: none;
      background: transparent;
      outline: none;
    }
    .youhui {
      &:after {
        content: '\e650';
      }
    }
  }
  h4 {
    text-align: right;
    span {
      font-size: 220%;
      color: $red;
      font-weight: bold;
      &:before {
        content: '￥';
        font-size: 60%;
        font-weight: normal;
      }
    }
  }
  h6 {
    position: fixed;
    z-index: 2;
    width: 100%;
    left: 0px;
    bottom: 0px;
    text-align: center;
    background-color: $green;
    font-size: 140%;
    color: #fff;
  }
  article {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $white;
    text-align: center;
    border-top: 1px solid $gray;
  }
  label {
    a {
      color: $red;
    }
  }
  input:checked~a{
    background-color: $green;
    pointer-events:auto ;
  }
  a.buy{
    display: block;
    padding: 5px 0;
    font-size: 120%;
    color: $white;
    pointer-events: none;
    background-color: $gray;
  }
  input {
    display: none;
    &:checked + label:before {
      content: '\e627';
      color: $green;
    }
  }
}

