@import "vars";

.courseReservation {
  background-color: #fff;
  padding-top: 33vw;
  .top{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    background-color: $white;
    border-bottom: 6px solid $gray;
  }
  h1 {
    font-size: 120%;
    i {
      display: inline-block;
      transform: scale(.6);
    }
    &.act i:before{
      content: '\e603';
    }
  }
  .show {
    display: block !important;
  }
  dl {
    background-color: $black;
    color: #fff;
    display: none;
    max-height: 200px;
    overflow: scroll;
  }
  dt {
    background-color: #000;
    padding-left: 10px;
  }
  dd {
    padding: 0 10px;
    border-bottom: 1px solid #444;
    &.act{
      color: $yellow;
      &:after{
        content: '\e61b';
        float: right;
      }
    }
  }
  .days7 {
    text-align: center;
    h3 {
      padding: 4px;
      font-size: 12px;
    }
    .act h3 {
      background-color: $red;
      border-radius: 50%;
      color: #fff;
    }
  }
  ol {
    img{
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      margin: 0 4px;
    }
    h3 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 115%;
      i {
        color: #de7ec0;
      }
    }
    li {
      border-bottom: 1px solid $gray;
      p {
        border: 1px solid $red;
        color: #fff;
        padding: 0 2px;
      }
      span {
        color: $red;
        &:before {
          content: '余';
          color: $black;
        }
        &:after {
          content: '席';
          color: $black;
        }
      }
      &.in p {
        background-color: $red;
      }
      &.out {
        p {
          color: $lightBlack;
          border-color: $lightBlack;
        }
        span {
          display: none;
        }
      }
      &.full p {
        background-color: $black;
        border-color: $black;
      }
    }
    div {
      flex: 1;
      padding: 0 4px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  a {
    text-align: center;
  }
  h4 {
    font-size: 105%
  }
  h5, h6 {
    font-size: 12px;
  }
  h6 {
    color: $red;
  }
}