.col-group {
  display: flex;
  margin: 10px 0;
  text-align: center;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.col-group>[class*=col-] {
  box-sizing: border-box;
  border: 1px solid #ccc
}

.col-group>[class*=col-].col-10 {
  width: 10%
}

.col-group-gap.col-group>[class*=col-].col-10 {
  width: calc(10% - 5px)
}

.col-group>[class*=col-].col-20 {
  width: 20%
}

.col-group-gap.col-group>[class*=col-].col-20 {
  width: calc(20% - 5px)
}

.col-group>[class*=col-].col-25 {
  width: 25%
}

.col-group-gap.col-group>[class*=col-].col-25 {
  width: calc(25% - 5px)
}

.col-group>[class*=col-].col-33 {
  width: 33.333333333333336%
}

.col-group-gap.col-group>[class*=col-].col-33 {
  width: calc(33.333333333333336% - 5px)
}

.col-group>[class*=col-].col-50 {
  width: 50%
}

.col-group-gap.col-group>[class*=col-].col-50 {
  width: calc(50% - 5px)
}

.col-group>[class*=col-].col-75 {
  width: 75%
}

.col-group-gap.col-group>[class*=col-].col-75 {
  width: calc(75% - 5px)
}

.col-group>[class*=col-].col-80 {
  width: 80%
}

.col-group-gap.col-group>[class*=col-].col-80 {
  width: calc(80% - 5px)
}

.col-group>[class*=col-].col-90 {
  width: 90%
}

.col-group-gap.col-group>[class*=col-].col-90 {
  width: calc(90% - 5px)
}

.date-picker2 {
  position: fixed;
  left: 0;
  z-index: 100000;
  width: 100%;
  overflow: hidden;
  background: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc
}

.date-picker2.top {
  -webkit-transform: translate3d(0,-100%,0);
  -ms-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  top: -1px;
  bottom: auto
}

.date-picker2.bottom {
  top: auto;
  bottom: -1px;
  -webkit-transform: translate3d(0,100%,0);
  -ms-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0)
}

.date-picker2.bottom:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #ccc;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(.5);
  -ms-transform: scaleY(.5);
  transform: scaleY(.5)
}

.date-picker2.in {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0)
}

.date-picker2.transition {
  -webkit-transition: transform .4s,top .4s,bottom .4s;
  -ms-transition: transform .4s,top .4s,bottom .4s;
  transition: transform .4s,top .4s,bottom .4s
}

.date-picker2 .col-group {
  margin: 0
}

.date-picker2 .col-group>[class*=col-] {
  border: none
}

.date-picker2-toolbar {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.date-picker2-toolbar a {
  display: block;
  padding: 8px;
  box-sizing: border-box;
  text-decoration: none
}

.date-picker2-title {
  position: relative;
  line-height: 2.6
}

.date-picker2-content {
  position: relative;
  color: #000
}

.date-picker2-content:after {
  position: absolute;
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #ddd;
  -webkit-transform: scaleY(.5);
  -ms-transform: scaleY(.5);
  transform: scaleY(.5)
}

.date-picker2-content .col-group {
  height: 100%
}

.date-picker2-content .col {
  position: relative;
  height: 100%;
  overflow: hidden
}

.date-picker2-content .col:before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top,#fff,hsla(0,0%,100%,.5) 40%,hsla(0,0%,100%,0) 41%,hsla(0,0%,100%,0) 56%,hsla(0,0%,100%,.5) 57%,#fff);
  background: -o-linear-gradient(top,#fff 0,hsla(0,0%,100%,.5) 40%,hsla(0,0%,100%,0) 41%,hsla(0,0%,100%,0) 56%,hsla(0,0%,100%,.5) 57%,#fff 100%);
  background: linear-gradient(180deg,#fff 0,hsla(0,0%,100%,.5) 40%,hsla(0,0%,100%,0) 41%,hsla(0,0%,100%,0) 56%,hsla(0,0%,100%,.5) 57%,#fff)
}

.date-picker2-content .picker-group.transition {
  -webkit-transition: transform .4s;
  -ms-transition: transform .4s;
  transition: transform .4s
}

.date-picker2-content .picker-item {
  line-height: 40px
}

.date-picker2 .picker-highlight {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.date-picker2 .picker-highlight:before {
  top: 0;
  bottom: auto
}

.date-picker2 .picker-highlight:after,.date-picker2 .picker-highlight:before {
  position: absolute;
  left: 0;
  right: auto;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #ddd;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1)
}

.date-picker2 .picker-highlight:after {
  top: auto;
  bottom: 0
}

input[data-type=date-picker2].focus {
  outline: 1px solid blue
}

.pop-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
  z-index: 100
}

.pop-mask-in {
  visibility: visible;
  opacity: 1;
  background: rgba(0,0,0,.5)
}

.pop-mask-transparent {
  background: transparent
}
