@import "vars";

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
  color: $black;
  background-color: $mainBg;
  font-size: 14px;
  user-select: none;
}

@media screen and (max-width: 320px) {
  body {
    font-size: 12px;
  }
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, figure,
dl, dt, dd, ul, ol, li, th, td, pre,
fieldset, lengend, button, input, textarea {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

i, em {
  font-style: normal;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-touch-callout: none;
  color: inherit;
}

img {
  -webkit-touch-callout: none;
  width: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc;
}

body {

}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  &.column{
    flex-direction: column;
  }
  &.end{
    justify-content: flex-end;
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.center {
    justify-content: center;
  }
  &.stretch {
    align-items: stretch;
  }
  &.no-wrap {
    flex-wrap: nowrap;
  }
  &.vstart {
    align-items: flex-start;
  }
  &.vend{
    align-items: flex-end;
  }
}

.flex1 {
  flex: 1;
}

.app {
  padding-top: 2.5vw;
}

.p20 {
  padding: 5vw;
}

.p5 {
  padding: 1vw;
}

.p10 {
  padding: 2.5vw;
}

.pt10 {
  padding-top: 2.5vw;
}

.pb10 {
  padding-bottom: 2.5vw;
}

.pl10 {
  padding-left: 2.5vw;
}

.pr10 {
  padding-right: 2.5vw;
}

.bt10 {
  border-top: 10px solid $mainBg;
}

.fbg {
  background-color: #fff;
}

.ok {
  color: $green !important;
}

.error {
  color: $red !important;
}

.warn {
  color: $yellow !important;
}

.touch {
  &:active {
    opacity: .5;
  }
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

.icon-loading:before {
  display: inline-block;
  animation: rotate 1.5s infinite linear;
  color: #77b0f5;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: all .2s ease-out;
  transform: translate3d(0, -10px, 0);
  justify-content: center;
}

.loading-cnt {
  background-color: #fefefe;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  max-width: 80vw;
  min-width: 30vw;
  > div {
    font-weight: bold;
    padding-top: 4px;
    p {
      font-size: 90%;
      line-height: 1.5;
      color: #999;
    }
  }
}

.loading-cnt h6 {
  font-size: 35px;
  line-height: 1;
  display: inline-block;
}

.loading-cnt h6.icon-chenggong {
  color: green;
}

.loading-cnt h6.icon-jinggao {
  color: #ff7100;
}

.loading-cnt h4 {
  min-width: 60vw;
  padding: 10px;
  font-size: 16px;
}

.loading-cnt a {
  height: 40px;
  line-height: 40px;
  width: 46%;
  border-radius: 4px;
  color: #fff;
  &.c-ok {
    background-color: #ff7100;
  }
  &.c-cancel {
    background-color: #ccc;
  }
}

.loading .info {
  padding-bottom: 10px;
}

.loading a:only-child {
  background-color: #0190D6;
  flex: 1;
}

.loading-cnt h5 {
  font-size: 110%;
}

.loading-cnt .iconfont {
  margin: 0;
}

.c-comfrim {
  display: block;
  min-width: 60vw;
  background-color: #22b4fd;
  color: #fff;
  margin-top: 10px;
}

.loading.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.loadingMore {
  background-color: #fff;
  text-align: center;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  span {
    padding-left: 5px;
  }
}

.pb2 {
  padding-bottom: 2em;
}

.star5:before {
  content: '\e624\e624\e624\e624\e624';
}

.star45:before {
  content: '\e624\e624\e624\e624\e606';
}

.star4:before {
  content: '\e624\e624\e624\e624';
}

.star35:before {
  content: '\e624\e624\e624\e606';
}

.star3:before {
  content: '\e624\e624\e624';
}

.star25:before {
  content: '\e624\e624\e606';
}

.star2:before {
  content: '\e624\e624';
}

.star15:before {
  content: '\e624\e606';
}

.star1:before {
  content: '\e624';
}

.star05:before {
  content: '\e606';
}

[class^=star] {
  color: #fed211;
}

.ksprice {
  color: $red;
  font-size: 12px;
  span {
    font-size: 160%;
    letter-spacing: -2px;
  }
  &:before {
    content: '￥';
  }
  &:after {
    content: '/课时';
  }
}

.data:empty:after {
  content: '暂无数据';
  display: block;
  text-align: center;
  padding: 10px 0;
  color: #999;
}

.img-box {
  font-size: 0;
  background-color: #eee;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  img {
    width: auto;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
  }
}