@import "vars";

.groupBuy {
  background-color: $white;
  color: $lightBlack;
  line-height: 1.5;
  padding-bottom: 50px;
  figure {
    font-size: 0;
  }
  .box {
    border-bottom: 4px solid $lightGray;
  }
  .person {
    p {
      flex: 1;
      text-align: justify;
    }
    img {
      width: 20vw;
      height: 20vw;
      border-radius: 50%;
    }
  }
  .banner img{
    height: 20vw;
  }
  h1 {
    font-weight: bold;
    font-size: 110%;
    color: $black;
    padding-bottom: 10px;
  }
  .time {
    color: $black;
    i:before {
      color: #feda3a;
      font-size: 120%;
      vertical-align: middle;
    }
    em {
      color: $red;
      &:before {
        content: '￥';
      }
    }
  }
  .list p:before {
    content: '● ';
  }
  .bg b {
    padding: 4px;
    background-color: $yellow;
  }
  .btns {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: $white;
    text-align: center;
    a {
      flex: 1;
      padding: 10px 0;
      color: $white;
      font-size: 115%;
      &:last-child {
        background-color: $yellow;
      }
      &:first-child {
        background-color: $black;
      }
      &:only-child {
        background-color: $red;
      }
    }
  }
  &.classInfo {
    .box {
      padding: 10px;
      background-color: #f1f1f1;
      border: 0;
      &.img {
        background-color: $white;
      }
      div {
        padding: 10px;
        background-color: #fff;
        border-radius: 4px;
      }
    }
    em {
      color: $red;
    }
    h1.iconfont:before,dd.iconfont:before,h2.iconfont:before {
      color: $yellow;
      padding-right: 10px;
    }
    b {
      font-size: 12px;
    }
    .fwcd p {
      border: 1px solid $gray;
      padding: 0 6px;
      margin: 0 2px;
    }
    h3 {
      padding-left: 10px;
      border: 1px solid $red;
      border-radius: 4px;
      background-color: $gray;
      line-height: 2;
      i:before {
        color: $red !important;
      }
    }
    .pj {
      p {
        padding: 0 10px;
        border-radius: 10px;
        border: 1px solid $lightBlack;
        margin: 2px;
        i {
          color: $red;
        }
      }
      b {
        font-weight: normal;
      }
    }
    li {
      border-bottom: 1px solid $lightGray;
      &:last-child {
        border: 0;
      }
      dl {
        flex: 1;
      }
      b {
        float: right;
        font-size: 12px;
        color: #ccc;
      }
    }
  }
  .ruleInfo {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: scroll;
    background-color: $lightGray;
    z-index: 10;
    display: none;
    > div {
      background-color: #fff;
      border-radius: 6px;
    }
    i {
      float: right;
      font-size: 140%;
      &:before {
        color: $lightBlack !important;
      }
    }
    h5 {
      font-size: 16px;
      font-weight: bold;
      padding: 10px 0;
    }
    h6 {
      font-size: 14px;
      font-weight: bold;
    }
    li {
      list-style: inside decimal;
      border: 0;
    }
  }
  .page {
    display: none;
  }
  .title {
    img {
      width: 20vw;
      height: 20vw;
      border-radius: 50%;
    }
    span {
      color: $red;
      font-size: 12px;
    }
    i {
      padding: 0 10px;
      border: 1px solid $gray;
      border-radius: 4px;
      text-align: center;
      margin: 1px;
    }
  }
  .sykc {
    li {
      margin: 10px 0;
      border: 0;
      .img-box {
        width: 42vw;
        height: 42vw;
        overflow: hidden;
      }
    }
    a {
      display: block;
    }
    h2 {
      font-weight: bold;
    }
    p {
      background-color: $red;
      color: $white;
      padding: 0px 8px;
      border-radius: 6px;
    }
  }
  .tabs li {
    border-bottom: 2px solid transparent !important;
    font-size: 120%;
    &.act {
      color: $red;
      border-bottom: 2px solid $red !important;
    }
  }
  .more {
    padding: 4px 20px;
    border-radius: 20px;
    border: 1px solid $red;
    color: $red;
    &:before {
      content: '更多评价\00a0';
    }
    &:after{
      float: right;
      content: '\e622';
    }
    &.moring{
      pointer-events: none;
      &:before {
        content: '评价加载中\00a0';
      }
      &:after{
        animation: rotate 1.5s infinite linear;
        content: '\e628';
      }
    }
  }

}