@import "vars";

.user {
  padding: 0;
  background-color: #fff;

  .avatar {
    background: url("../images/u_1.png") no-repeat center center;
    background-size: 100% 100%;
    padding: 20px 0;
    box-shadow: 0 0 4px 2px #e1dacd;

    img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 4px solid #726a5a;
    }

    h1 {
      color: $white;
      font-size: 1.2em;
    }

    h2 {
      color: $white;
      opacity: .5;
      font-size: 12px;
    }
  }

  .vip {
    background-color: #e9c89a;
    padding: 6px 10px;
    border-bottom-left-radius: 1.8em;
    border-top-left-radius: 1.8em;

    i {
      background-color: #cfac7c;
      line-height: 1;
      border-radius: 50%;
      font-size: 1.2em;
    }
  }

  .package {
    border-bottom: 1px solid #eee;

    > h4 {
      color: #999;
    }
  }

  .menu {
    text-align: center;

    > a {
      width: 33.33%;
      padding: 20px 0;
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;

      &:nth-child(3n) {
        border-right: 0;
      }
    }
    img{
      width: 40%;
    }
  }
}