@import "vars";

.mydata {
  background-color: #fff;
  background-size: 100% auto;
  min-height: 100vh;
  padding-top: 0px;

  &-header {
    padding: 15px;
    padding-bottom: 35px;
    background: #e7380d url("../images/12.jpg") no-repeat top left;
    > div {
      background-color: #fff;
      padding: 10px;
      border-radius: 4px;
    }

    h1 {
      line-height: 1.5;
    }

    p {
      font-weight: bold;
      color: $red;
    }

    figure {
      font-size: 0;

      img {
        width: 50px;
        border-radius: 50%;
        border: 2px solid $red;
      }
    }

    h2 {
      background-color: #fef3db;
      border-radius: 4px;
      padding: 4px 8px;

      img {
        vertical-align: middle;
        width: 16px;
      }
      i,b{
        vertical-align: middle;
      }
    }
  }
  li b{
    font-size: 150%;
    line-height: 1;
  }
  &-main{
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -20px;
  }
  .record-item{
    padding: 10px 0;
    border-radius: 4px;
    overflow: hidden;
    h3{
      color: #ddd;
    }
    b{
      color: #fff;
    }
  }
  h5{
    background: url("../images/15.png") no-repeat;
    width: 80px;
    text-align: center;
    padding-right: 10px;
    color: #fff;
    background-size: 100% auto;
  }
  .this-month{
    background: url("../images/13.jpg") no-repeat;
    background-size: 100% auto;
  }
  .last-month{
    margin-top: 10px;
    background: url("../images/14.jpg") no-repeat;
    background-size: 100% auto;
  }
}
