@import "vars";

.orderBody {
  padding-bottom: 80px;
}

.order {
  background-color: $white;
  > div {
    border-bottom: 1px solid $lightGray;
    padding: 10px 0;
  }
  p {
    line-height: 1.5;
  }
  h1 {
    font-weight: bold;
  }
  h3 {
    background-color: $red;
    padding: 0px 10px;
    border-radius: 4px;
    color: $white;
  }
  aside {
    border: 1px solid $gray;
    border-radius: 4px;
  }
  span, em {
    padding: 4px 10px;
  }
  em {
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    &:after {
      content: '节';
    }
  }
  .cd {
    align-items: flex-start;
    span {
      padding-left: 4px;
      vertical-align: top;
    }
  }
  input {
    display: none;
    &:checked + label:before {
      content: '\e627';
      color: $green;
    }
  }
  h4 {
    color: $red;
    font-size: 140%;
    font-weight: bold;
    &:before {
      content: '￥';
      font-size: 50%;
    }
  }
  article {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $white;
    text-align: center;
    border-top: 1px solid $gray;
  }
  label {
    a {
      color: $red;
    }
  }
  input:checked~.buy{
    background-color: $green;
    pointer-events:auto ;
  }
  a.buy{
    display: block;
    padding: 5px 0;
    font-size: 120%;
    color: $white;
    pointer-events: none;
    background-color: $gray;
  }
  &.cardInfo {
    >div{
      padding: 10px;
      border-bottom: 4px solid $lightGray;
      pointer-events: none;
    }
    ul{
      padding-left: 20px;
    }
    .icon-jinggao{
      color: $yellow;
    }
  }
}