@import "vars";
.postEvaluation{
  background-color: #fff;
  color: $lightBlack;
  header{
    img{
      border-radius: 50%;
      width: 20vw;
      height: auto;
    }
    figure{
      text-align: center;
      font-size: 110%;
      color: $black;
    }
    h2{
      &:before,&:after{
        content: '';
        flex: 1;
        border-top: 1px solid $lightBlack;
      }
    }
    h3 span{
      color: $yellow;
      padding-right: 10px;
    }
  }
  textarea{
    width: 100%;
    height: 30vw;
    border-radius: 6px;
    border-color: $gray;
    color: $lightBlack;
  }
  input{
    visibility: hidden;
  }
  input:checked+i:before{
    content: '\e627';
    color: $yellow;
  }
  footer>div{
    background-color: $red;
    text-align: center;
    line-height: 2;
    font-size: 130%;
    color: $white;
  }
}