@import "vars";

.reservation {
  h1 {
    border-bottom: 1px solid $gray;
    background-color: $white;
    p {
      border: 1px solid $gray;
      padding: 0 10px;
      border-radius: 4px;
    }
  }
  .info {
    background-color: $white;
    .iconfont {
      color: $gray;
    }
  }
  h2 {
    span {
      border: 1px solid $lightBlack;
      width: 25%;
      text-align: center;
      border-radius: 4px;
      font-weight: bold;
      &.disabled {
        opacity: .4;
        pointer-events: none;
      }
    }
  }
  table {
    width: 100%;
    color: #999
  }
  td {
    width: 50%;
    padding: 2px 4px 0;
    em {
      color: $green;
    }
  }
  .confirm {
    background-color: $red;
    color: $white;
    line-height: 2.5;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    border-radius: 4px;
  }
}

.none {
  text-align: center;
  padding-top: 20vw;
  p {
    line-height: 1.5;
    color: $lightBlack;
  }
  a {
    display: inline-block;
    background-color: $red;
    padding: 4px 20px;
    color: $white;
    border-radius: 4px;
  }
}

.time-picker, .date-picker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
}

.time-picker {
  &.show {
    visibility: visible;
  }
  .cnt {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    > div {
      padding: 0 10vw;
    }
  }
  h3 {
    background-color: $mainBg;
    i {
      color: $blue;
    }
  }
  .time-wrap {
    height: 200px;
    overflow: hidden;
  }
  ul {
    width: 50%;
    text-align: center;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform .3s ease-out;
  }
  li {
    border-bottom: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    opacity: .3;
    &.act {
      opacity: 1;
      font-weight: bold;
    }
  }
}

.date-picker {
  display: none;
  padding: 14vw 4.5vw 0;
  text-align: center;
  visibility: visible;
  .cnt {
    background-color: $white;
    border-radius: 4px;
    position: relative;
    height: 91vw;
    //padding-bottom: 2vw;
  }
  a {
    background-color: $blue;
    color: $white;
    padding: 2vw;
    border-radius: 50%;
    line-height: 1;
    transform: translate3d(0,-50%,0);
    .iconfont {
      font-size: 8vw;
    }
  }
  .header{
    background-color: $blue;
    border-bottom: 2px solid $white;
  }
  h4 {
    padding: 4px 10px;
    color: $white;
    span {
      border-bottom: 1px solid $gray;
      margin: 0 10px;
    }
    span:nth-child(1):after {
      content: "年";
    }
    span:nth-child(2):after {
      content: "月";
    }
    span:nth-child(3):after {
      content: "日";
    }
  }
  $width: 100%;
  @keyframes slideLeft {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-100vw, 0, 0);
    }
  }
  ul {
    background-color: #fff;
  }
  .year-box, .month-box, .date-box {
    position: absolute;
    transform: translate3d(100vw, 0, 0);
    transition: transform .3s ease-out;
    &.entry {
      transform: translate3d(0vw, 0, 0);
    }
  }
  li {
    width: 13vw;
    color: #666;
    border-bottom: 1px solid $gray;
    border-right: 1px solid $gray;
    line-height: 11vw;
    float: left;
    &.act {
      background-color: $blue !important;
      color: #fff;
    }
    &.not {
      color: #aaa;
    }
    &.disabled {
      background-color: #ddd;
    }
    &.today {
      padding-left: 1em;
      &:after {
        content: "\e621";
        color: $blue;
      }
    }
  }
  .month-box li, .year-box li {
    width: 15.15vw;
  }
  .bottom {
    padding: 4px 10px;
    background-color: $white;
    border-radius: 4px;
    color: $blue;
  }
}