@import "vars";

.training {
  background-color: #fff;
  h1 {
    background-color: #f5f5f5;
    padding: 4px 10px;
    font-weight: bold;
  }
  table {
    text-align: center;
    color: #777;
  }
  th {
    font-weight: normal;
  }
  dl{
    pointer-events: none;
  }
  dd{
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    span{
      color: $deepGray;
    }
  }
  i:before{
    font-size: 90%;
    padding-right: 2px;
  }
  [type=radio]{
    display: none;
    &:checked+i:before{
      content: '\e627';
      color: $green;
    }
  }
  .content-text{
    height: 6.5em;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid $gray;
    padding: 4px;
    line-height: 1.5;
  }
  .images{
    white-space: nowrap;
    overflow: scroll;
  }
}